.navbar{
	background-color:#00FFFF;
}

.quem-somos{
	background-color:#00FF7F;
}

.parceiros{
	background-color: white;
}

.servicos{
	background-color: rgb(0,255,0);
}

.margin{
	padding-top: 50px; /* margem interna */
	padding-bottom: 10px;
}